:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: 'Baloo Chettan 2';
}

.header-wrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.header-title {
    color: var(--vermelho);
    font-family: 'Cuprum';
    text-transform: uppercase;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}