:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 95vw;
    background: var(--preto);
    font-family: 'Baloo Chettan 2';
}

.header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    width: 50%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1em;
    margin-top: 0%;
}

.header-title.img {
    height: 10vh;
    width: 10vw;
}

.netflix-logo {
    height: 10vh;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 20px;
}

header nav a:hover {
    color: #fff;
}

.header-menu-left {
    margin-left: 1vw;
}